{% extends 'base.html.twig' %}
{% block title %}
    Administrador
{% endblock %}

{% block body %}
    <div class="sidebar sidebar-light sidebar-fixed border-end" id="sidebar">
        <div class="sidebar-header border-bottom">
            <div class="sidebar-brand px-3 fw-semibold">
                Meu Admin
            </div>

            {# Botão só aparece no mobile pra fechar overlay #}
            <button class="btn-close d-lg-none" type="button" aria-label="Close" id="sidebarCloseBtn"></button>
        </div>

        <ul class="sidebar-nav" data-coreui="navigation" id="sidebarNav">
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_admin_dashboard') }}">
                    <i class="nav-icon cil-speedometer"></i> Dashboard
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_admin_client_index') }}">
                    <i class="nav-icon cil-people"></i> Clientes
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_admin_client_project_index') }}">
                    <i class="nav-icon cil-address-book"></i> Projetos
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_admin_client_project_history_index') }}">
                    <i class="nav-icon cil-history"></i> Histórico
                </a>
            </li>


            
            <li class="nav-item">
                <a class="nav-link " href="{{ path('app_admin_client_project_attached_index') }}">
                    <i class="nav-icon cil-file"></i> Anexos
                </a>
            </li>

            <li class="nav-title">CADASTROS</li>

            <li class="nav-group">
                <a class="nav-link nav-group-toggle" href="#">
                    <i class="nav-icon cil-puzzle"></i> Base
                </a>
                <ul class="nav-group-items">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
                            Itens
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="nav-icon"><span class="nav-icon-bullet"></span></span>
                            Categorias
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item mt-auto">
                <a class="nav-link" href="#">
                    <i class="nav-icon cil-account-logout"></i> Sair
                </a>
            </li>
        </ul>
    </div>

    <div class="wrapper d-flex flex-column min-vh-100">
        <header class=" mb-4 border-bottom">
            <div class="container-fluid px-4 d-flex align-items-center">
                {# No desktop pode não fazer nada; no mobile ele abre/fecha overlay #}


              
            </div>
        </header>

        <main class="body flex-grow-1">
            <div class="container-lg px-4">
                <div class="card">
                    <div class="card-body">
                        {% block content %}
                            <h4 class="mb-1">Dashboard</h4>
                            <div class="text-body-secondary">
                                Sidebar fixa no desktop, overlay no mobile, nav-group funcionando.
                            </div>
                        {% endblock %}

                    </div>
                </div>
            </div>
        </main>

        <footer class="footer px-4 border-top bg-white mt-4 border-bottom">
            <div class="ms-auto">Desenvolvido por Naná</div>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}

<!-- DataTables CSS e JS -->

<link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.dataTables.css">

<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.7/css/dataTables.jqueryui.css">
       


<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/2.3.7/js/dataTables.jqueryui.js"></script>
<script>

    $(document).ready(function(){
        $('#myTable').DataTable({
            "lengthMenu": [[-1,10, 25, 50], ["Todos", 10, 25, 50]],
           "language": {
                  "lengthMenu": "Mostrando _MENU_ registros por página",
                  "zeroRecords": "Nada encontrado",
                  "info": "Mostrando página _PAGE_ de _PAGES_",
                  "infoEmpty": "Nenhum registro disponível",
                  "infoFiltered": "(filtrado de _MAX_ registros no total)",
                   "search":" Pesquisar",

                "paginate": {
                      "first":      "Primeira",
                      "last":       "Última",
                      "next":       "Próxima",
                      "previous":   "Anterior"
                  },
              }
          });
    });
</script>

 
{% endblock %}